@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/reg_form.css" />

<form method="post" asp-controller="Home" asp-action="Login">
    <div class="container">
        <h1>Login</h1>
        <p>Fill the blank to login.</p>

        <div asp-validation-summary="All"></div>

        <label asp-for="UserName"><b>Username</b></label>
        <input asp-for="UserName" placeholder="Enter username" />

        <label asp-for="Password"><b>Password</b></label>
        <input asp-for="Password" placeholder="Enter Password" />

        <label asp-for="RememberMe">Remember me</label>
        <input asp-for="RememberMe" type="checkbox" />

        <button type="submit">Login</button>
    </div>

    <div>
        <p>You still dont have an account? <a href="/Home/Register">Sign UP now.</a></p>
    </div>
</form>
